################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
/Socket/x64/Debug
/x64/Debug
