################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/.idea
/out
/Socket/x64
/x64
/out
/build
