################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
.ninja_*
*.ninja

# for CLion
.idea
cmake-build-*

# for Visual Studio Code
.vscode/
build

# for Visual C++
.vs
out
Debug
Release
x64
Socket/Debug
Socket/Release
Socket/x64
*.user
*.ncb
*.suo
*.sdf

# for Android
outputs